@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply min-h-screen;
}

body {
    @apply bg-post-bg-color text-base leading-relaxed;
    color: #3E4349;
    font-family: "-apple-system","BlinkMacSystemFont","Helvetica Neue","Tahoma","PingFang SC","Microsoft Yahei","Arial","Hiragino Sans GB","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a {
  @apply text-font-base hover:border-b-2 hover:border-link-color duration-150 delay-100;
}
aside {
    @apply bg-aside-bg-color px-8 py-4 rounded;
}
p {
    margin: 0.7em 0;
}
h1, h2, h3, h4, h5 {
    @apply font-bold relative;
}
h1 {
    @apply text-5xl;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25m;
}
h5 {
    font-size: 1.125em;
}
img, video {
    margin: 0 auto;
}
figure {
    text-align: center;
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }
    figcaption {
        text-align: center;
        font-size: 0.8em;
        color: #999;
    }
}
code, pre {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 0.9em;
}
p code {
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: 0.065em 0.4em;
}
ol {
    list-style: decimal;
    padding-left: 20px;
}
ul {
    list-style: disc;
    padding-left: 2em;
}
li ul {
    padding-left: 1.8em;
    list-style: circle;
}
li ol {
    padding-left: 1.8em;
    list-style: decimal;
}
ul:has(li input) {
    list-style: none;
    padding: 0;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
    vertical-align: top;
    border-color: #dee2e6;
    width: 100%;
    & > thead {
        vertical-align: bottom;
        text-align: left;
    }
    tr {
        border-width: 0 0 1px 0;
    }
    th, td {
        padding: 0.1rem 0.1rem;
        color: #000;
        background-color: #fff;
        border-bottom-width: 1px;
    }
    td {
        font-size: 0.9em;
    }
}
blockquote {
    border-left: 5px solid #555;
    padding: 5px 0 5px 15px;
    background-color: #f8f9fa;
    color: #212529;
    p {
        margin: 0;
    }
}
hr {
    margin: 1em 0;
}
dl {
    dt {

    }
    dd {
        padding-left: 1em;
    }
}
.footnotes {
    hr {
        margin: 0 0 10px 0;
    }
    font-size: 0.9em;
    margin-top: 1em;
    color: #999;
}
.hljs {
    overflow-x: scroll;
    white-space: pre-wrap;
}
header.site-header {
    position: relative;
}
div.home-link {
    a {
        font-size: 0.8em;
    }
}
div.site-links {
    float: right;
    position: absolute;
    right: 2px;
    top: 0;
    ul {
        list-style: none;
        padding: 0;
        li {
            float: left;
            margin-left: 0.5em;
            a {
                font-size: 0.8em;
            }
        }
    }
}
div.post-tags {
    ul.tags {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            a {
                &:hover {
                    border-bottom-color: rgb(216 42 32 / 50%);
                }
            }
        }
    }
}
div.post-content {
    h2, h3, h4, h5 {
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        margin: 1em 0 0.2em 0;
        position: relative;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            left: -40px;
            width: 10px;
            height: 100%;
            background-color: rgb(216 42 32);
        }
        &:hover {
            h2, h3, h4, h5 {
                &::before {
                    visibility: visible;
                }
            }
        }
    }
}
div.tags-container {
    ul {
        list-style: none;
        padding: 0;
    }
}
